<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AcceptanceServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add  key="WebUrlIP" value="http://192.168.1.138" />
    <add  key="WebUrl" value="imtimely.com" />
    <add key="UPnotice" value="true"/>
    <add key="ShowError" value="false"/>
  </appSettings>
  <spring>
    <context>
      <resource uri="assembly://Business/Business.Config/IOC.xml"/>
      <resource uri="assembly://Injection/Injection.Config/IOC.xml"/>
    </context>

  </spring>

  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=Aicike;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <AcceptanceServer.Properties.Settings>
      <setting name="CurrentIntPtr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysCloseAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CloseAction" serializeAs="String">
        <value>0</value>
      </setting>
    </AcceptanceServer.Properties.Settings>
  </userSettings>
</configuration>
