<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AcceptanceServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->

  <appSettings>
    <add  key="WebUrlIP" value="http://10.10.251.127" />
    <add  key="WebUrl" value="imtimely.com" />
    <add key="UPnotice" value="true"/>
    <add key="ShowError" value="false"/>
    <add key="EmailInfo" value="d537@163.com|lingyuanaicike" />
    <add key="SMTPClient" value="smtp.163.com" />
    <add key="SMTPPort" value="25" />
  </appSettings>
  <spring>
    <context>
      <resource uri="assembly://Business/Business.Config/IOC.xml"/>
      <resource uri="assembly://Injection/Injection.Config/IOC.xml"/>
    </context>

  </spring>

  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=ImTimely_JJT;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <AcceptanceServer.Properties.Settings>
      <setting name="CurrentIntPtr" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlwaysCloseAction" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CloseAction" serializeAs="String">
        <value>0</value>
      </setting>
    </AcceptanceServer.Properties.Settings>
  </userSettings>



  
  
</configuration>
