@{
    ViewBag.Title = "TestHtml";
    Layout = null;
}
<li class="item masonry_brick"><a href="/News/NewDetail.aspx" style="padding-left: 119px;">
    <img src="#" style="max-height: 80px; height: 80px; width: 109px; max-width: 109px;">
    <h2>
        1</h2>
    <p>
        1111111111111111111</p>
</a></li>
<li class="item masonry_brick"><a href="/News/NewDetail.aspx" style="padding-left: 119px;">
    <img src="#" style="max-height: 80px; height: 80px; width: 109px; max-width: 109px;">
    <h2>
        2</h2>
    <p>
        2222222222222222222</p>
</a></li>
