<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcceptanceServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="WebUrlIP" value="http://192.168.1.138" />
    <add key="WebUrl" value="imtimely.com" />
    <add key="EmailInfo" value="d537@163.com|lingyuanaicike" />
    <add key="SMTPClient" value="smtp.163.com" />
    <add key="SMTPPort" value="25" />
    <add key="SuperAdmin" value="admin|admin" />
  </appSettings>
  <spring>
    <context>
      <resource uri="assembly://Business/Business.Config/IOC.xml" />
      <resource uri="assembly://Injection/Injection.Config/IOC.xml" />
    </context>
  </spring>
  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=MicroSiteDB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="SpringModule" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
    </modules>
    <handlers>
      <add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="Default.htm" />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
