@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Task;
}
@section head{
    <script language="javascript" type="text/javascript">
        $(function () {
            var type='@Model.EnumTaskType';
            $("#EnumTaskType").val(type);
        });
    </script>
}
@model Poco.TaskRule
<div class="title">
    任务规则修改</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "TaskRule", new { HostName = ViewBag.HostName }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {        
        <fieldset>
            <legend>任务规则</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        <span class="Identification">*</span> 规则名称
                    </td>
                    <td class="tdField">
                        @Html.TextAreaFor(a => a.TaskInfoName)@Html.HiddenFor(a => a.ID)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.TaskInfoName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="Identification">*</span> 规则类型
                    </td>
                    <td class="tdField">
                        <select name="EnumTaskType" id="EnumTaskType">
                            <option value="0">文字描述</option>
                            <option value="1">数字</option>
                            <option value="2">百分比</option>
                        </select>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" style="margin-right: 20px" /><input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button" />
        </div>
    }</div>
