@{
    ViewBag.Title = "AppView";
    Layout = null;
}
@model Poco.LibraryImageText
<html>
<head>
    <style>
        .title
        {
            font-weight: bolder;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="title">@Model.Title</div>
    <div>
        @Html.Raw(Model.Content)
    </div>
</body>
</html>
