@{
    var loginSystemUser = Session[Poco.SystemConst.Session.LoginSystemUser] as Poco.SystemUser;
    List<Poco.SystemUserMenu> systemUserMenuList = new List<Poco.SystemUserMenu>();
    if (loginSystemUser != null)
    {
        systemUserMenuList = Injection.Factory.Get<Interface.ISystemUserMenuModel>(Poco.SystemConst.IOC_Model.SystemUserMenuModel).GetMenuByRoleID(loginSystemUser.SystemUserRoleID);
    }
}
<div style="width: 960px; margin: 0px auto 0px auto; height: 40px">
    @{
        if (loginSystemUser != null)
        {
        <ul class="systemmenu">
            @foreach (var item in systemUserMenuList)
            {
                if (ViewBag.Menu == item.Controller)
                { 
                <li class="select">@Html.ActionLink(item.Name, item.Action, item.Controller, new { Area = item.Area }, null)</li>   
                }
                else
                { 
                <li>@Html.ActionLink(item.Name, item.Action, item.Controller, new { Area = item.Area }, null)</li>   
                }
            }
        </ul>
        }
    }
</div>


