<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="AccountMainID" value="1"></add>
  </appSettings>

  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=Aicike;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
