@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section head{
<meta name='viewport' content='width=device-width, user-scalable=no' />
    <style>
        body
        {
            padding: 5px;
        }
        .main
        {
        }
        .main img
        {
            max-width: 98% !important;
        }
    </style>
}
@model Poco.AboutUS
<div class="main" style="width: 100%; background-color: #fff">
    @if (Model != null && Model.Content != null)
    { 
        @Html.Raw(Model.Content)
    }
</div>
