@{
    ViewBag.Title = "AppView";
    Layout = null;
}
@model Poco.LibraryImageText
<html>
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <style>
        .title
        {
            font-weight: bolder;
            font-size: 22px;
        }
        body
        {
            background-color: #e2e2db;
        }
        .image
        {
            
            }
    </style>
</head>
<body>
    <div class="main">
        <div class="title">@Model.Title</div>
        <div class="image">
            <img src="@Model.ImagePath" alt="@Model.Title" width="100%" />
        </div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</body>
</html>
