@{
    ViewBag.Title = "AppView";
    Layout = null;
}
@model Poco.LibraryImageText
<html>
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <style>
        .title
        {
            font-weight: bolder;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="title">@Model.Title</div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</body>
</html>
