<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> New Document </TITLE>

 </HEAD>

 <BODY>
  <a href="weixin://profile/gh_b629c48b653e">点击关注方倍工作室</a>
或者

<a href="weixin://addfriend/pondbaystudio">点击关注方倍工作室</a>
再或者

<a click="addWxContact()">点击关注方倍工作室</a>
  <script>
      WeixinJSBridge.invoke = function o(b, e, j) {
          if (b && "string" === typeof b) {
              "object" !== typeof e && (e = {});
              var a = (O++).toString();
              "function" === typeof j && (E[a] = j);
              b = {
                  func: b,
                  params: e
              };
              b[H] = "call";
              b[D] = a;
              a = y.stringify(b);
              I.push(a);
              document.location = P
          }
      }
      WeixinJSBridge.call = function o(b, e, j) {
          if (b && "string" === typeof b) {
              "object" !== typeof e && (e = {});
              var a = (O++).toString();
              "function" === typeof j && (E[a] = j);
              b = {
                  func: b,
                  params: e
              };
              b[H] = "call";
              b[D] = a;
              a = y.stringify(b);
              I.push(a);
              document.location = P
          }
      }
      WeixinJSBridge.on = function z(b, e) {
          b && "string" === typeof b && "function" === typeof e && (C[b] = e);
      }
      WeixinJSBridge.env = function (b) {
          return u[b];
      }
      WeixinJSBridge.log = function x(b) {
          for (var e = [], j = 0; j < arguments.length; j++) e.push(arguments[j]);
          var j = e.shift(),
    a;
          try {
              e.unshift(j),
        a = G.apply(null, e)
          } catch (f) {
              a = b
          }
          o("log", {
              msg: a
          });
      }
      WeixinJSBridge._fetchQueue = function () {
          var b = y.stringify(I);
          I = [];
          return b;
      }
      WeixinJSBridge._handleMessageFromWeixin = function (b) {
          var e;
          switch (b[H]) {
              case "callback":
                  return "string" === typeof b[D] && "function" === typeof E[b[D]] ? (e = E[b[D]](b.__params), delete E[b[D]], y.stringify(e)) : y.stringify({
                      __err_code: "cb404"
                  });
              case "event":
                  return "string" === typeof b.__event_id && "function" === typeof C[b.__event_id] ? (e = C[b.__event_id](b.__params), y.stringify(e)) : y.stringify({
                      __err_code: "ev404"
                  })
          }
          return "{}";
      }
      var addWxContact = function () {
          if (typeof WeixinJSBridge == 'undefined') return false;
          WeixinJSBridge.invoke('addContact', {
              webtype: '1',
              username: 'gh_15d670e98260'
          }, function (d) {
              // 返回d.err_msg取值，d还有一个属性是err_desc
              // add_contact:cancel 用户取消
              // add_contact:fail　关注失败
              // add_contact:ok 关注成功
              // add_contact:added 已经关注

          });
      };
  </script>
 </BODY>
</HTML>
