@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section head{
    <style>
        body
        {
            background-color: #f6f6f6;
        }
        
        .MainTab
        {
            background-color: #ffffff;
            width: 95%;
            margin-top: 25px;
            border: 1px solid #dbdbdb;
        }
        
        
        .ListTab
        {
            width: 95%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .ListTab th
        {
            font-size: 16px;
            font-weight: inherit;
            line-height: 35px;
        }
        .ListTab td
        {
            font-size: 14px;
            color: #6c6c6c;
            padding-top: 7px;
            padding-right: 10px;
            padding-left: 5px;
            padding-bottom: 7px;
            text-align:center;
        }
    </style>
}
<table align="center" class="MainTab" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table align="center" class="ListTab" cellpadding="0" cellspacing="0">
                <tr>
                    <th style=" width:280px">
                        调查问卷名称
                    </th>
                    <th style=" width:150px">
                        问卷类型
                    </th>
                    <th style=" width:150px">
                        提交人
                    </th>
                    <th >
                        总分
                    </th>
                </tr>
                <tr>
                    <td class="operation" style=" text-align:left">
                        <div style="width: 280px; word-break: keep-all; white-space: nowrap; overflow: hidden;
                            text-overflow: ellipsis;">
                            <label name="labCbFirst" title="西安印象 你的印象西安印象 你的印象">
                                <a >西安印象 你的印象西安印象 你的印象</a>
                            </label>
                        </div>
                    </td>
                    <td>
                        评分调查
                    </td>
                    <td>
                       匿名222
                    </td>
                    <td>
                        100
                    </td>
                </tr>
                <tr>
                    <td class="operation" style=" text-align:left">
                        <div style="width: 280px; word-break: keep-all; white-space: nowrap; overflow: hidden;
                            text-overflow: ellipsis;">
                            <label name="labCbFirst" title="西安印象 你的印象西安印象 你的印象">
                                <a >西安印象 你的印象西安印象 你的印象</a>
                            </label>
                        </div>
                    </td>
                    <td>
                        评分调查
                    </td>
                    <td>
                       匿名222
                    </td>
                    <td>
                        100
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
