@{
    ViewBag.Title = "SystemUserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <script>
        $(function () {
            $("#Email").val("176534021@qq.com");
            $("#LoginPwdPage").val("password");
        });
    </script>
}
@model Poco.SystemUser
<div>
    <div style="background-color: #F3F3F3; height: 70px">
        <div style="width: 960px; margin: 0px auto 0px auto;">
        </div>
    </div>
    <div style="background-color: #459935; height: 40px">
    </div>
</div>
<div class="main">
    <div class="main20">
        @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "alert" }))
        {   
            <fieldset style="border: 1px solid #d3d3d3;">
                <legend>平台账号登录</legend>
                <div>
                    邮箱 @Html.TextBoxFor(a => a.Email) @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div>
                    密码 @Html.PasswordFor(a => a.LoginPwdPage) @Html.ValidationMessageFor(a => a.LoginPwdPage)
                </div>
                <div>
                    <input type="submit" value="登录" />
                </div>
            </fieldset>
        }
    </div>
</div>
