@{
   
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Poco.Account
<div style="height: 460px; background: url('/Images/banner.jpg') repeat-x">
    <div style="width: 960px; margin: 0px auto 0px auto">
        <div class="homelogin">
            @using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "alert" }))
            {   
                <div style="font-size: 20px; margin-bottom: 10px;">
                    登录</div>
                <div>
                    @Html.TextBoxFor(a => a.Email, new { placeholder = "邮箱", @class = "inputLogin" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div>
                    @Html.PasswordFor(a => a.LoginPwdPage, new { placeholder = "密码", @class = "inputLogin" })
                    @Html.ValidationMessageFor(a => a.LoginPwdPage)
                </div>
                <div>
                    <input id="login" onclick="LandWaitFor('login','WaitImg',1)" type="submit" value="登录" class="button2"/>
                    <img id="WaitImg" src="../../Images/LandWaitFor.gif" style="display:none" />
                </div>
            }
        </div>
    </div>
</div>
<div class="bodyBottom">
</div>
