<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="AccountMainID" value="1"></add>
  </appSettings>

  <connectionStrings>
    <add name="Context" connectionString="Data Source=localhost;Initial Catalog=Aicike_Milk;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
