@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Home;
}
@section head{
    <script type="text/javascript">
        $(function () {
            var isAdmin = @ViewBag.AccountAdmin;
            if(isAdmin==true)
            {
                $("#DialogGuide").dialog({
                    resizable: false,
                    height: 600,
                    width: 829,
                    modal: true,
                    draggable: false
                });
            }
        });
    </script>
}
<div class="title">
    首页</div>
<div class="body">
</div>
<div id="DialogGuide" title="平台设置向导" style="display: none">
    <iframe id="iframeLibrary" src="@Url.Action("Index", "AccountMainGuide", new { HostName = ViewBag.HostName })" style="width:800px;height:530px;border:none;overflow:hidden">
    </iframe>
</div>
