@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.Role;
}
@section head{
}
@model Poco.Role
<div class="title">
    添加角色</div>
<div class="body">
    @using (Ajax.BeginForm("Add", "Role", new {Area="System" }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>角色</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button" />&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button"  />
        </div>
    }</div>
