@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.AccountMainManage;
}
@section head{
}
@model Poco.Role
<div class="title">
    修改角色</div>
<div class="body">
    @using (Ajax.BeginForm("Edit", "Role", new { Area = "System" }, new AjaxOptions() { UpdateTargetId = "alert" }))
    {
        <fieldset>
            <legend>角色</legend>
            <table class="tableForm">
                <tr>
                    <td class="tdTitle">
                        名称
                    </td>
                    <td class="tdField">@Html.TextBoxFor(a => a.Name)@Html.HiddenFor(a => a.ID)@Html.HiddenFor(a => a.AccountMainID)@Html.HiddenFor(a => a.IsCanDelete)
                    @Html.HiddenFor(a => a.IsCanFindByUser)@Html.HiddenFor(a => a.Token)
                    </td>
                    <td>@Html.ValidationMessageFor(a => a.Name)
                    </td>
                </tr>
            </table>
        </fieldset>
        <div class="action">
            <input type="submit" id="btnSubmit" value="保存" class="button"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="返回" onclick="location.href='@ViewBag.RawUrl'" class="button" />
        </div>
    }</div>
