@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var groupList = ViewBag.GroupList as List<Poco.Group>;
}
@section head{
    <script type="text/javascript">
        $(function () {
            var urlText = "@Url.Action("SendText", "Message")";
            $("#tabs").tabs();
            $("#selectUser").change(function () {
                var value = $(this).val();
                switch (value) {
                    case "all":
                        break;
                    case "user":
                        $("#dialogUser").dialog({
                            resizable: false,
                            height: 600,
                            width: 800,
                            modal: true,
                            buttons: {
                                "确定": function () {
                                    var uids="";
                                    $.each($("#dialogUser").find(":checked"),function(i,n){
                                        uids+=$(n).val()+",";
                                    });
                                    if(uids.length>0){
                                        $("#hidUserID").val(uids);
                                    }
                                    $(this).dialog("close");
                                },
                                "取消": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        break;
                }
            });
            $("#txtText").keyup(function () {
                var length = 500 - $("#txtText").val().trim().length;
                $("#divTextInfo").html("还可以输入" + length + "字");
            });
            $("#btnSend").click(function () {
                var su= $("#selectUser").val();
                if(su=="user"){
                    var uids= $("#hidUserID").val();
                    if(uids.length<=0){
                        JAlert({
                            Message: "未指定用户",
                            DialogType: "Ok",
                            BtnOk: "确定"
                        }); 
                        return false;
                    }
                }
                var active = $("#tabs").tabs("option", "active");
                switch (active) {
                    case 0:
                        var content=$("#txtText").val().trim();
                        if(content.length<=0){
                           JAlert({
                                    Message: "请输入文字信息",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                }); 
                           return false;
                        }
                        $.ajax({
                            type: "post",
                            data: { content: content,type:"text"},
                            url: urlText,
                            success: function (result) {
                                if (result != undefined && result != null && result.length > 0) {
                                    eval(result);
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                JAlert({
                                    Message: "Internal Server Error.",
                                    DialogType: "Ok",
                                    BtnOk: "确定"
                                });
                            }
                        });
                        break;
                    case 1:
                        break;
                    case 2:
                        break;
                    case 3:
                        break;
                    case 4:
                        break;
                }
            });
        });
    </script>
    <style>
        .ulUser
        {
            padding: 0px;
            margin: 5px 0px;
        }
        .ulUser li
        {
            list-style-type: none;
        }
        .ulUserTitle
        {
            height: 30px;
            line-height: 30px;
        }
        .ulUserList
        {
            min-height: 30px;
            border-bottom: 1px solid #d3d3d3;
        }
    </style>
}
<div class="title">
    消息管理</div>
<div class="bodyLeft">
    <ul class="ulList">
        <li class="select"><a>新建消息</a> </li>
        <li><a>已发送</a> </li>
</div>
<div class="bodyRight">
    <div class="option">
        发送对象：<select id="selectUser">
            <option value="all">全部用户</option>
            <option value="user">指定用户</option>
        </select>
    </div>
    <div class="tableList" id="tabs">
        <ul>
            <li><a href="#tabs-1">文字</a></li>
            <li><a href="#tabs-2">语音</a></li>
            <li><a href="#tabs-3">图片</a></li>
            <li><a href="#tabs-4">视频</a></li>
            <li><a href="#tabs-5">图片消息</a></li>
        </ul>
        <div id="tabs-1">
            <textarea style="width: 99%" rows="12" id="txtText"></textarea>
            <div style="float: right" id="divTextInfo">
                还可以输入500字</div>
            <div style="clear: both">
            </div>
        </div>
        <div id="tabs-2">
            <p>
                Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra
                massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget
                luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean
                aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent
                in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat
                nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod
                felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
        <div id="tabs-3">
            <p>
                Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                enim, pretium nec, feugiat nec, luctus a, lacus.</p>
        </div>
        <div id="tabs-4">
            <p>
                Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                enim, pretium nec, feugiat nec, luctus a, lacus.</p>
        </div>
        <div id="tabs-5">
            <p>
                Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate,
                pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem.
                Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo
                pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem
                enim, pretium nec, feugiat nec, luctus a, lacus.</p>
        </div>
    </div>
    <input type="button" value="发送消息" id="btnSend" />
</div>
<div style="clear: both">
</div>
<div id="dialogUser" title="选择用户" style="display: none">
    <ul class="ulUser">
        @foreach (var item in groupList)
        {
            <li>
                <div class="ulUserTitle">@item.GroupName</div>
                <div class="ulUserList">
                    @foreach (var user in item.Account_Users)
                    {
                        <input type="checkbox" id="cb_@user.UserID" value="@user.UserID" /><label for="cb_@user.UserID">@user.User.Name</label>
                    }
                </div>
            </li>
        }
    </ul>
</div>
<input type="hidden" id="hidUserID" />
