
.ReportTitle
{
    font-size: 16px;
    font-family: @@黑体;
    margin-bottom: 10px;
    margin-top: 25px;
    height: 25px;
}

.ReportShowDiv
{
    max-width:786px;
    min-width:786px;
    height: 320px; 
    margin: 0 auto;    
}



