@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: false)
}
@{
    var loginSystemUser = Session[Poco.SystemConst.Session.LoginSystemUser] as Poco.SystemUser;
}
<div>
    <div style="background-color: #F3F3F3; height: 70px">
        <div style="width: 960px; margin: 0px auto 0px auto;">
            <div style="float: right; margin-top: 40px;">
                @if (loginSystemUser != null)
                { 
                    <a id="btnLogOut" type="sysUser">退出</a>
                }
            </div>
        </div>
    </div>
    <div style="background-color: #459935; height: 40px">
        @Html.Partial("SystemUserMenu")
    </div>
</div>
<div class="main">
    @RenderBody()
</div>
