@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", required: false)
}
@{
    var account = Session[Poco.SystemConst.Session.LoginAccount] as Poco.Account;
}
<div>
    @Html.Partial("_head")
    <div style="background-color: #00aec8; height: 40px">
        @Html.Partial("Menu")
    </div>
</div>
<div class="main">
    @RenderBody()
</div>
