
@{
    var Merchant = Session[Poco.SystemConst.Session.LoginMerchant] as Poco.Merchant;
}
<style>
    .homeMenu
    {
        float: left;
        margin-left: 20px;
        color: #222;
        text-align: center;
        line-height: 71px;
        font-size: 20px;
    }
    .homeMenuItem
    {
        width: 200px;
        float: left;
        height: 67.5px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        cursor: pointer;
    }
    .homeMenuItem a
    {
        display: block;
    }
    .homeMenuItem:hover
    {
        background-color: #fbfbfb;
    }
    .hmselect
    {
        background-color: #fbfbfb;
        border-bottom: 3.5px solid #00aec8;
    }
</style>
<div class="head">
    <div id="logo" style="width: 1002px; margin: 0px auto 0px auto;">
        <div class="logo" style="margin-top: 6px;">
                
                @if (Merchant != null && Merchant.LogoShow != null && Merchant.LogoShow.Length > 0)
                { 
                <a href="@Url.Action("Index", "Home")"><img src="@Url.Content(Merchant.LogoShow, "/Images/logo.png")" /></a>
                }
                else
                { 
                <a href="@Url.Action("Index", "Home")"><img alt="" src="@Url.Content("/Images/logo.png")" /></a>
                }
        </div>
        <div style="float: right; margin-top: 35px;">
            @if (Merchant != null)
            {   

                <a id="btnLogOut" type="user">退出</a>
            }
        </div>
        <div style="clear: both;">
        </div>
        <div class="DivSendSuccess">
            发送成功
        </div>
    </div>
</div>
