@{
    var account = Session[Poco.SystemConst.Session.LoginAccount] as Poco.Account;
    List<Poco.Menu> menuList = new List<Poco.Menu>();
    if (account != null)
    {
        menuList = Injection.Factory.Get<Interface.IMenuModel>(Poco.SystemConst.IOC_Model.MenuModel).GetMenuByRoleID(account.RoleID);
    }
}
<div style="width: 960px; margin: 0px auto 0px auto; height: 40px">
    @{
        if (account != null)
        {
        <ul class="menu">
            @foreach (var item in menuList)
            {
                if (ViewBag.Menu == item.Controller)
                { 
                    <li class="select">@Html.ActionLink(item.Name, item.Action, item.Controller, new { Area = item.Area }, null)</li>   
                } else 
                { 
                    <li>@Html.ActionLink(item.Name, item.Action, item.Controller, new { Area = item.Area }, null)</li>   
                }
            }
        </ul>
        }
    }
</div>
