@{
    ViewBag.Title = "ProductListItem";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{



}

 <div class="item masonry_brick">
        <div class="item_t">
            <div class="imgDiv">
                <a href="#">
                    <img class="imgs"  src="" />
               
                 </a>
            </div>
            <div class="title">
                <span>用div+css制作一个CSS3的简约图标导航菜单</span></div>
            <div class="bottom">
                ￥17.12
            </div>
        </div>
    </div>
    <!--item end-->

     <div class="item masonry_brick">
        <div class="item_t">
            <div class="imgDiv">
                <a href="#">
                    <img class="imgs"  src="" />
               
                 </a>
            </div>
            <div class="title">
                <span>用div+css制作一个CSS3的简约图标导航菜单</span></div>
            <div class="bottom">
                ￥17.12
            </div>
        </div>
    </div>
    <!--item end-->