@{
    ViewBag.Title = "ShopIndex";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section head{
    <script type="text/javascript">
        $(function () {
            $('.BlocksIt').BlocksIt({
                numOfCol: 1,
                offsetX: 0,
                offsetY: 8

            });


        });


        function OpenUrl(ID) {
            var Url = "@Url.Action("ProductList", "MicroMall")";
            var Href = Url+"?TypeID=" + ID;
            window.location.href = Href;

        }

        var color= ["#66CDAA","#AB82FF","#5CACEE","#EEB422","#FF8247"];

       
    </script>
    <style>
        .MainTab
        {
            width: 100%;
            height: 135px;
        }
        
        .MainTab td
        {
            cursor: pointer;
        }
        .TitDIVLeft
        {
            text-shadow: none;
            color: #ffffff;
            padding-left: 10px;
            font-weight: bold;
            font-size: 14px;
        }
        
        .RemDIVLeft
        {
            text-shadow: none;
            color: #ffffff;
            padding-left: 10px;
            font-size: 12px;
        }
        .TitDIVRight
        {
            text-shadow: none;
            color: #ffffff;
            padding-right: 10px;
            font-weight: bold;
            font-size: 14px;
            text-align: right;
        }
        
        .RemDIVRight
        {
            text-shadow: none;
            color: #ffffff;
            padding-right: 10px;
            font-size: 12px;
            text-align: right;
        }
        .ImgDIV
        {
            width: 100%;
            height: 135px;
            background-color: #ffeedd;
            overflow: hidden;
        }
        .ShowImg
        {
            min-width: 100%;
            max-width: 120%;
            min-height: 135px;
        }
        .grid
        {
            width: 100% !important;
        }
    </style>
}
@model IQueryable<Poco.Classify>
<div data-role="content">
    <div class="BlocksIt">
        
        <div class="grid">
            <table class="MainTab" cellpadding="0" cellspacing="0" onclick="OpenUrl(1)">
                <tr style="background-color: #66CDAA">
                    <td style="width: 30%;">
                        <div class="TitDIVLeft">
                            新鲜水果
                        </div>
                        <div class="RemDIVLeft">
                            好吃新鲜
                        </div>
                    </td>
                    <td style="width: 70%;">
                        <div class="ImgDIV">
                            <img class="ShowImg" src="Images/366585.jpg" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>


    </div>
</div>
