body
{
    margin: 0px;
    background-color: #FFFFFF;
    font-family: "Microsoft YaHei" , Helvetica, Verdana, Arial, Tahoma;
    line-height: 16px;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
}
.homeItem
{
    background: url(../images/sep.png) repeat-x center bottom;
    background-color: #f4f4f4;
    height: 570px;
    position: relative;
}
.homeItem2
{
    background-color: #fff;
    background: url(../images/sep.png) repeat-x center bottom;
    position: relative;
    height: 570px;
}
.homeContent
{
    margin: 0px auto 0px auto;
    width: 960px;
}
.titleFont
{
    font-size: 35px;
    color: #555;
}
.contentFont
{
    font-size: 18px;
    color: #748686;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.main20
{
    padding: 20px;
}
.main
{
    width: 960px;
    margin: 10px auto 20px auto;
    box-shadow: 0 3px 3px #dddddd;
    -moz-box-shadow: 0 3px 3px #dddddd;
    -webkit-box-shadow: 0 3px 3px #dddddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-height: 700px;
    background-color: #FdFdFd;
    border: 1px solid #E7E7E7;
}
.menu
{
    margin: 0 auto;
    padding: 0;
    display: inline;
}
.menu li
{
    width: 135px;
    float: left;
    list-style-type: none;
    display: block;
    line-height: 40px;
    font-size: 16px;
    height: 40px;
    color: White;
}
.menu li a
{
    display: block;
    cursor: pointer;
    text-align: center;
}
.menu li.select a
{
    background-color: #00869A;
}
.title
{
    border-bottom: 1px solid #E7E7E7;
    height: 35px;
    line-height: 35px;
    padding: 0px 20px;
    background-color: #F4F4F4;
}
.body
{
    padding: 15px 20px;
    line-height: 16px;
    font-size: 14px;
}
.option
{
    min-height: 35px;
    line-height: 35px;
}
.tableList
{
    border: 1px solid #E7E7E7;
    margin: 10px auto 15px auto;
}
.tableList th
{
    height: 30px;
    border-left: 1px solid #E7E7E7;
    font-weight: normal;
}
.tableList th:first-child
{
    border-left: none;
}
.tableList td
{
    border-left: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    height: 40px;
    padding: 2px;
    font-size: 15px;
}
.tableList td:first-child
{
    border-left: none;
}
.pages
{
    float: right;
    font-size: 15px;
}
.action
{
    margin-top: 15px;
}
.bodyLeft, .bodyRight
{
    float: left;
    height: 100%;
    min-height: 664px;
}
.bodyLeft
{
    width: 200px;
    border-right: 1px solid #E7E7E7;
    padding-bottom: 30px;
}
.bodyRight
{
    width: 716px;
    padding: 15px 20px;
}
.ulList
{
    margin: 0 auto;
    padding: 0;
}
.ulList li
{
    width: 200px;
    list-style-type: none;
    display: block;
    line-height: 35px;
    font-size: 16px;
    height: 35px;
}
.ulList li a
{
    display: block;
    cursor: pointer;
    padding-left: 15px;
}
.ulList li.select
{
    background-color: #00aec8;
}
.tdField
{
    width: 330px;
}
.tdTitle
{
    width: 90px;
}
.tableForm input[type='text'], .tableForm textarea, .tableForm select
{
    width: 200px;
}
.tableForm textarea
{
    width: 300px;
    height: 90px;
}
.tableForm td
{
    height: 26px;
}
.button, .option a, .button2
{
    background-color: #00aec8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #638467;
    color: White;
    padding: 3px 17px;
    font-size: 14px !important;
    font-family: "Microsoft YaHei" , Helvetica, Verdana, Arial, Tahoma !important;
    margin: 0px;
}
.option a
{
    padding: 4px 17px;
}
.button2
{
    padding: 6px 17px;
}

.button_a, .operation a
{
    color: #00A4BD;
}

.bottom
{
    padding-top: 26px;
    color: White;
    text-align: center;
    font-size: 15px;
}
.bottom a
{
    margin: auto 10px auto 10px;
}
.bottom span
{
    margin-left: 10px;
}
/*登录页面*/
.bodyBottom
{
    min-height: 400px;
}

.homelogin
{
    width: 300px;
    height: 250px;
    padding: 25px;
    border: 1px solid #F4F4F4;
    margin-top: 30px;
    float: right;
    background-color: #eeeeee;
    border-bottom: 1px solid #E7E7E7;
    border-radius: 5px;
}
.homelogin form > div
{
    margin-bottom: 14px;
}

.inputLogin
{
    width: 283px;
    padding: 11px 0 11px 11px;
    vertical-align: middle;
    font-family: "Microsoft YaHei";
}

.logo
{
    float: left;
}
.head
{
    border-bottom: 1px solid #E7E7E7;
    height: 70px;
}


.line
{
    background: #00aec8;
    display: block;
    width: 50px;
    height: 4px;
    margin: 7px 0 -11px 0;
}
h1.page-title
{
    padding: 5px 0 10px 0;
    border-bottom: 1px solid #ececec;
    margin: 12px 0 18px 0;
    font-size: 21px;
}
.bgcolor
{
    background: #00aec8;
}

.DivSendSuccess
{
    width: 200px;
    height: 25px;
    background-color: #68af02;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    display: none;
}
.border, fieldset
{
    border: 1px solid #E7E7E7;
}
.Identification
{
    color: Red;
    text-align: center;
}
