        body
        {
            margin: 0px;
            background-color: #FFFFFF;
            font-family: "Microsoft YaHei" , Helvetica, Verdana, Arial, Tahoma;
            line-height: 16px;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color:inherit;
        }
        
        .main20
        {
            padding: 20px;
        }
        .main
        {
            width: 960px;
            margin: 10px auto 20px auto;
            box-shadow: 0 3px 3px #dddddd;
            -moz-box-shadow: 0 3px 3px #dddddd;
            -webkit-box-shadow: 0 3px 3px #dddddd;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            min-height: 700px;
            background-color: #fafafa;
            border: 1px solid #d3d3d3;
        }
        .menu
        {
            margin: 0 auto;
            padding: 0;
            display: inline;
        }
        .menu li
        {
            width: 135px;
            float: left;
            list-style-type: none;
            display: block;
            line-height: 40px;
            font-size: 16px;
            height:40px;
        }
        .menu li a
        {
            display: block;
            cursor: pointer;
            text-align: center;
        }
        .menu li.select a
        {
            background-color: #37712b;
        }
        .title
        {
            border-bottom: 1px solid #d3d3d3;
            height: 35px;
            line-height: 35px;
            padding: 0px 20px;
            background-color: #F0F0F0;
        }
        .body
        {
            padding: 15px 20px;
            line-height: 16px;
            font-size: 14px;
        }
        .option
        {
            min-height: 20px;
            line-height: 20px;
        }
        .tableList
        {
            border: 1px solid #d3d3d3;
            margin: 10px auto 15px auto;
        }
        .tableList th
        {
            height: 30px;
            border-left: 1px solid #d3d3d3;
            font-weight: normal;
        }
        .tableList th:first-child
        {
            border-left: none;
        }
        .tableList td
        {
            border-left: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3;
            height: 40px;
            padding:2px;
        }
        .tableList td:first-child
        {
            border-left: none;
        }
        .pages
        {
            float: right;
        }
        .action
        {
            margin-top: 15px;
        }
        .bodyLeft, .bodyRight
        {
            float: left;
            height: 100%;
            min-height: 664px;
        }
        .bodyLeft
        {
            width: 200px;
            border-right: 1px solid #d3d3d3;
            padding-bottom: 30px;
        }
        .bodyRight
        {
            width: 716px;
            padding: 15px 20px;
        }
        .ulList
        {
            margin: 0 auto;
            padding: 0;
        }
        .ulList li
        {
            width: 200px;
            list-style-type: none;
            display: block;
            line-height: 35px;
            font-size: 16px;
            height: 35px;
        }
        .ulList li a
        {
            display: block;
            cursor: pointer;
            padding-left: 15px;
        }
        .ulList li.select
        {
            background-color:#459935;
            }
        .tdField
        {
            width: 330px;
        }
        .tdTitle
        {
            width:90px;
            }
        .tableForm input, .tableForm textarea, .tableForm select
        {
            width: 200px;
        }
        .tableForm textarea
        {
            width: 300px;
            height: 90px;
        }
        .tableForm td
        {
            height:26px;
        }
        .button
        {
            background-color: #459935;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            width:80px !important;
            height:30px !important;
            border:none;
        }