@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSystemUser.cshtml";
    ViewBag.Menu = Poco.SystemConst.Menu.SystemUserHome;
}
<div class="title">
    首页</div>
<div class="body">
</div>
